@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow: #4FFF4B;
}

body {
  color: #ffffff;
  background-color: #171717;

}
